@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Lora|Tangerine');


*{
	padding:0;
	margin:0;
}



header {
	background-color: #f4ebeb;
	color: #989b96;
	font-size: 22px;
	
}

#headerpic {
	display: block;
	margin: auto;
		
}

#mantra {
	font-family: 'Tangerine', cursive;
	text-align: center;
	font-size: 28px;

}


.about {
	margin: auto;
	padding: 5px 40px 20px 40px;
	margin: auto;
	padding-bottom: 20px;
	background-color: yellow;
}

h2 {
	padding-top: 10px;
	padding-left: 40px;
	font-family: 'Lora', serif;
	font-size: 22px;
}

h4 {
	font-family: 'Lora', serif;
	font-size: 22px;
}

main {
	font-family: 'Lora', serif;
	color: #8e8989;
	font-size: 22px;
	padding: 10px 60px 60px 20px;
	font-weight: normal;
	background: linear-gradient(to bottom, #f4ebeb 0%, #ffffff 100%);
	background-color: green;

}

p {
	font-family: 'Lora', serif;
	padding: 5px 20px 5px 40px;
	font-size: 18px;
	text-align: left;
	background-color: white;
	
}

ul {

	padding-left: 100px;
	line-height: 24px;
	background-color: orange;

}
	
li { 

	font-size: 22px;
	padding-top: 10px;
	padding-left: 15px;
	line-height: 24px;
	list-style-position: inside;
	background-color: blue;
}



a {
	text-decoration: none;
	color: #989b96;
}

hr { 

    border: 0;
    height: 1px;
    color: #c1bbbb;
    padding-left: 40px;
    padding-right: 40px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0));
}


.favorites {

	font-family: 'Lora', serif;
	font-size: 22px;
	padding-bottom: 20px;
	background-color: purple;

}


#listofaves {
	display: block;
	float: left;
	font-family: 'Lora', serif;
	padding-left: 60px;
	padding-top: 12px;

}

#mepics {
	float: right;
	margin: auto;
	padding-top: 40px;
	padding-right: 110px;
	background-color: white;
}
	

#top2 {
	display: block;

}

#bottom2 {
	display: block;

}

#coffee {

	display: inline-block;
	position: relative;
	padding-top: 1px;
	padding-right: 1px;

}

#pastel {

	display: inline-block;
	position: relative;
	padding-top: 1px;
	padding-right: 1px;

}

#penny {

	display: inline-block;
	position: relative;
	padding-top: 1px;
	padding-right: 1px;
}

#rose {

	display: inline-block;
	position: relative;
	padding-right: 1px;
	padding-top: 1px;
}

#quote {

	padding-top: 400px;
	padding-bottom: 5px;
	background-color: grey;

}

#lenco {
	font-family: 'Tangerine', cursive;
	text-align: center;
	font-size: 30px;
	line-height: 30px;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: purple ;

}

.learnmore {
	font-family: 'Lora', serif;
	font-size: 20px;
	padding: 10px 20px 20px 20px;
	text-align: center;
	background-color: turquoise;
}

#connect {
	display: inline-block;
	padding: 5px 10px 10px 5px;
	background-color: yellow;

	

}


#work {
	display: inline-block;
	background-color: lavender;

	

}

#inspiration {
	display: inline-block;
	background-color: ivory;
	
	

}

footer {
	font-size: 18px;
	background-color: green;
	color: #989b96;
	text-align: center;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 40px;

}










