body { 
	text-align: center;
	background: url("http://farm8.staticflickr.com/7061/6888234819_8f837c405d_z.jpg");
	background-size: cover;
	color: #991FE0;
	font-family: Helvetica;
}
hr {
	width: 200px;
}

p {
	font-size: 22px;
}
