@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Lora|Tangerine');


*{
	padding:0;
	margin:0;
}



header {
	background-color: #f4ebeb;
	color: #989b96;
	font-size: 22px;
	
}

#headerpic {
	display: block;
	margin: auto;
		
}

#mantra {
	font-family: 'Tangerine', cursive;
	text-align: center;
	font-size: 28px;

}

.accent {
  height: 30px; 
  border-style: solid; 
  border-color: #989b96; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 

.accent:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #989b96; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

.about {
	margin: auto;
	padding-bottom: 10px;
	margin: auto;
	padding-bottom: 20px;
}

h2 {
	padding-top: 10px;
	padding-left: 40px;
	font-family: 'Lora', serif;
	font-size: 22px;
}

h4 {
	font-family: 'Lora', serif;
	font-size: 22px;
}

main {
	font-family: 'Lora', serif;
	color: #8e8989;
	font-size: 22px;
	padding: 0px 40px 40px 20px;
	font-weight: normal;
	background: linear-gradient(to bottom, #f4ebeb 0%, #ffffff 100%);

}

p {
	font-family: 'Lora', serif;
	padding: 5px 20px 5px 40px;
	font-size: 18px;
	text-align: left;
	
}

ul {

	padding-left: 50px;
	padding-top: 20px;
	line-height: 24px;

}
	
li { 

	font-size: 22px;
	padding-top: 10px;
	padding-left: 15px;
	line-height: 24px;
	list-style-position: inside;
}

hr {
	
	
}


a {
	text-decoration: none;
	color: #989b96;
}


.favorites {

	font-family: 'Lora', serif;
	font-size: 22px;
	padding-bottom: 20px;

}


#listofaves {
	display: block;
	float: left;
	font-family: 'Lora', serif;
	padding-left: 40px;

}

#mepics {
	float: right;
	margin: auto;
	padding-top: 20px;
	padding-right: 110px;
}
	

#top2 {
	display: block;

}

#bottom2 {
	display: block;

}

#coffee {

	display: inline-block;
	position: relative;
	padding-top: 1px;
	padding-right: 1px;

}

#pastel {

	display: inline-block;
	position: relative;
	padding-top: 1px;
	padding-right: 1px;

}

#penny {

	display: inline-block;
	position: relative;
	padding-top: 1px;
	padding-right: 1px;
}

#rose {

	display: inline-block;
	position: relative;
	padding-right: 1px;
	padding-top: 1px;
}

#quote {
	font-family: 'Tangerine', cursive;
	text-align: center;
	font-size: 30px;
	line-height: 30px;
	padding-top: 450px;

}


.learnmore {
	font-family: 'Lora', serif;
	font-size: 20px;
	margin: auto;
}

#connect {
	display: inline-block;
	padding-right: 20px;
	float: left;
}


#work {
	display: inline-block;
	padding-right: 5px;
	float: center;
}

#inspiration {
	display: inline-block;
	padding-right: 5px;
	float: right;
}

footer {
	font-size: 18px;
	background-color: #ffffff;
	color: #989b96;
	text-align: center;
	width: 100%;
	padding-top: 250px;
	padding-bottom: 40px;

}










