@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Lora|Tangerine');


*{
	padding:0;
	margin:0;
}



header {
	background-color: #f4ebeb;
	color: #989b96;
	font-size: 22px;
	
}

#headerpic {
	display: block;
	margin: auto;
	
	
}

#mantra {
	font-family: 'Tangerine', cursive;
	text-align: center;
	font-size: 28px;

}

.accent {
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 

.accent:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}



h2 {
	padding-top: 10px;
	padding-left: 40px;
	font-family: 'Lora', serif;
	font-size: 22px;
}

h4 {
	font-family: 'Lora', serif;
	font-size: 22px;
}

main {
	font-family: 'Lora', serif;
	color: #8e8989;
	font-size: 24px;
	padding: 0px 40px 40px 20px;
	font-weight: normal;
	background: linear-gradient(to bottom, #f4ebeb 0%, #ffffff 100%);

}

p {
	font-family: 'Lora', serif;
	padding: 5px 20px 5px 40px;
	font-size: 20px;
	text-align: left;
	
}

ul {

	padding-left: 50px;
	padding-top: 20px;
	line-height: 24px;

}
	
li { 

	font-size: 22px;
	padding-top: 10px;
	padding-left: 15px;
	line-height: 24px;
	list-style-position: inside;
}

hr {
	
	padding: 0px 50px;

	
}


a {
	text-decoration: none;
	color: #989b96;
}


.favorites {

	font-family: 'Lora', serif;
	font-size: 22px;
	margin: 0 auto;
	padding-bottom: 20px;

}


#listofaves {
	display: inline-block;
	font-family: 'Lora', serif;

}

#mepics {
	display: inline-block;
}

#coffee {

	display: inline-block;
	position: relative;
	padding-top: 40px;
	padding-right: 2px;


}

#penny {

	display: inline-block;
	position: relative;
	padding-top: 40px;
	padding-right: 2px;
}

#rose {

	display: inline-block;
	position: relative;
	padding-right: 2px;
	padding-top: 40px;
}

#lcquote {
	font-family: 'Tangerine', cursive;
	text-align: center;
	font-size: 28px
	padding: 40px 40px;
	margin: 12px;
	line-height: 35px;
}


.learnmore {
	font-family: 'Lora', serif;
	font-size: 20px;
	width: 100%;
	padding: 20px 20px;
	text-align: center;
}


footer {
	font-size: 18px;
	background-color: #ffffff;
	color: #989b96;
	text-align: center;
	width: 100%;
	padding-top: 250px;
	padding-bottom: 40px;

}










