body { 
	margin: 50px 200px 40px 60px; 
	text-align: justify;
	background: url("https://amandashabbychic.files.wordpress.com/2013/08/il_570xn-3039686411.jpg");
	background-size: cover;
	color: #010667;
	font-family: Helvetica;

}

h2 {
	text-decoration: italic;
}

ul {

	text-align: left; 

}
	
li, img { 
text-align: left; 
font-family: Helvetica;
font-size: 18px;
}

img {

	position: absolute;
	display: block;
	width: 200px;
	height: 200px;
	padding-left: 240px;
	padding-top: 40px;

	}

hr {
	width: 700px;
}

p {
	text-align: justify;
	font-size: 20px;

}


a {
	text-decoration: underline;
	color: #010667;
}



